<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <appSettings>
    <!--数据库连接字符串:server;databasename-->
    <add key="ConnectionStr" value="Server=139.196.5.222:27017;ckwxdb"/>
    <!--回调地址域名-->
    <add key="BaseUrl" value="http://ck-sh.com/ck/"/>
    <!--商户支付密钥-->
    <add key="paySignKey" value="LuXiaoQiangZhenYuHui0BaiXiaolong"/>
    <!--应用密钥-->
    <add key="AppSecret" value="fbac2835273622513b785d4bef13cf2a"/>
    <!--微信支付商户号-->
    <add key="mch_id" value="1309759701"/>
    <!--应用id-->
    <add key="AppId" value="wx51061acd4faae921"/>
    <!--报名成功短信模板-->
    <add key="SMsg" value="恭喜您，报名成功！请确认您的报名信息--姓名：{0}；学校：{1}；身份证：{2}；联系电话：{3}。请于5月7日早上7:30在{1}516门口集合。如果有疑问请联系客服！"/>
  </appSettings>
  <log4net>
    <logger name="LogInfo">
      <level value="ALL"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
    <logger name="LogError">
      <level value="ALL"/>
      <appender-ref ref="ErrorAppender"/>
    </logger>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender" bufferSize="5">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="ERROR"/>
      </filter>
      <!--信息日志地址-->
      <file value="log\"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="DatePattern" value="yyyyMMdd'.txt'"/>
      <param name="MaximumFileSize" value="50MB"/>
      <param name="MaxSizeRollBackups" value="50"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="CountDirection" value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date 线程：[%thread] %-5p %c [%x] - %m%n%n"/>
      </layout>
    </appender>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender" bufferSize="5">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="ERROR"/>
      </filter>
      <!--错误日志地址-->
      <file value="log\"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="MaximumFileSize" value="50MB"/>
      <param name="MaxSizeRollBackups" value="50"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="CountDirection" value="1"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date 线程：[%thread] %-5p %c [%x] - %m%n%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>